@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    background-color: #fff;
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

/* .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} */

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    gap: 70px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.navigation .main_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    bottom: 10px;
    gap: 10px;
}

.navigation .navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    gap: 40px;
    font-style: normal;
}

.btn_quote {
    font: inherit;
    background: #fff;
    padding: 20px 35px 20px 35px;
    font-size: 20px;
    border-radius: 14px;
    border-color: #191A23;
    gap: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
    color: #000000;
    width: 531px;
    height: 481px;
    margin: 0px 100px;
}

.mission .head {
    display: flex;
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
}

.mission .middle {
    display: flex;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
}

.mission .book_consult {
    display: flex;
    background: #191A23;
    border: none;
    padding: 20px 35px;
    gap: 10px;
    color: #fff;
    border-radius: 14px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
}

.logotypes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

.first {
    position: relative;
    width: 124.11px;
    height: 48px;
    mix-blend-mode: luminosity;
}

.first .one {
    position: absolute;
    top: 12px;
}

.first .one_one {
    position: absolute;
    top: 31.91px;
    left: 17.38px;
}

.third {
    position: relative;
    width: 128.63px;
    height: 48px;
    mix-blend-mode: luminosity;
}

.third .three {
    position: absolute;
    top: 13.11px;
}

.third .three_three {
    position: absolute;
    top: 8px;
    left: 82.59px;
}

.second,
.fourth,
.fifth,
.sixth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    mix-blend-mode: luminosity;
}